/*Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overpass{
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    text-align: center;
    font-size: 300%;
    justify-content: center;
    font-weight: bold;
}

h2, h3, h4{
    font-weight: bold;   
}

h2{
    font-size: 160%;  
    margin: 1% 0 1% 0;
}

h3{
    font-size: 140%;
    margin: 4% 0 2% 5%;
}

h4{
    font-size: 120%;
    margin: 2% 0 1% 0;
}

/*Cabeçalho (header)*/

header {
    background-color: rgb(143, 190, 134);
}

header nav{
    background-color: rgb(37, 37, 39);
}

.menu-navegacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav li{
    display: inline;
}

header nav ul li a{
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: .4s;
}

header .icon{
    justify-content: center;
}

header nav ul li a:hover {
    background-color: rgb(143, 190, 134);
}

.banner{
    background-image: url(../assets/imagens/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 12% 0 12% 0;
}

/*Conteúdo (main)*/
main{
    margin: 0 6% 0 6%;
}

.introducao{
    margin-bottom: 2%;
}

main p, main li{
    line-height: 1.5em;
    text-align: justify;
}

main p{
    font-size: 110%;
}

main li{
    font-size: 120%;
}

main ul{
    margin-left: 5%;
}

main ul li{
    list-style: disc;
}

/*Rodapé (footer)*/
footer{
    background-color: rgb(143, 190, 134);
    padding: 2% 5%;
    margin-top: 2%
}

footer p{
    line-height: 150%;
    font-size: 110%;
    padding-bottom: 1%;
}

footer a{
    color: #FFF;
}

footer a:hover{
    color: #b9ffbf
}